{{define "loginForm"}}
<div class="container"><br>
  <div class="jumbotron">
    <h1>Bienvenido/a</h1>
    <p>Por favor tipee sus datos para ingresar a la aplicación</p><hr>
        <form action="/" method="POST">
        <div class="form-group">
            <label for="user">Email:</label>
            <input type="email" class="form-control" id="user" name="user">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="pwd">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> Ingresar</button>
        </form>
    </div><hr>
</div>
{{end}}



