<!DOCTYPE html>
<html lang="es">
<head>
  <title>My Bills [ Main ]</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css" >
		<link rel="stylesheet" href="assets/css/bootstrap-theme.css" >
		<link rel="stylesheet" href="assets/css/bootstrap-theme.min.css" >
		<link rel="stylesheet" href="assets/css/scrolling-nav.css" >
		<link rel="stylesheet" href="assets/css/font-awesome.min.css" >

		<link rel="stylesheet" href="assets/Chart.js/Chart.min.css" >
		<link rel="stylesheet" href="assets/Chart.js/Chart.css" >

		<link rel="stylesheet" href="assets/css/jquery.dataTables.min.css" >
		<link rel="stylesheet" href="assets/css/buttons.dataTables.min.css" >
		<link rel="stylesheet" href="assets/css/buttons.bootstrap.min.css" >
		<link rel="stylesheet" href="assets/css/jquery.dataTables-1.11.5.min.css" >
		<link rel="stylesheet" href="assets/dataTables/fixedColumns.dataTables.min.css" >

		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

	    <script src="assets/js/jquery-3.4.1.min.js"></script>
	    <script src="assets/js/jquery-3.5.1.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>

		<script src="assets/js/jquery.dataTables.min.js"></script>
		<script src="assets/dataTables/DataTables/js/jquery.dataTables1.min.js"></script>
		<script src="assets/dataTables/DataTables/js/dataTables.fixedColumns.min.js"></script>

		<script src="assets/js/dataTables.editor.min.js"></script>
		<script src="assets/js/dataTables.select.min.js"></script>
		<script src="assets/js/dataTables.buttons.min.js"></script>
		<script src="assets/dataTables/DataTables/js/buttons.colVis.min.js"></script>

		<script src="assets/js/jszip.min.js"></script>
		<script src="assets/js/pdfmake.min.js"></script>
		<script src="assets/js/vfs_fonts.js"></script>
		<script src="assets/js/buttons.html5.min.js"></script>
		<script src="assets/js/buttons.bootstrap.min.js"></script>
		<script src="assets/js/buttons.print.min.js"></script>

		<script src="assets/js/bootbox/bootbox.all.js"></script>
		<script src="assets/js/bootbox/bootbox.all.min.js"></script>
		<script src="assets/js/bootbox/bootbox.js"></script>
		<script src="assets/js/bootbox/bootbox.locales.js"></script>
		<script src="assets/js/bootbox/bootbox.locales.min.js"></script>
		<script src="assets/js/bootbox/bootbox.min.js"></script>

		<script src="assets/Chart.js/Chart.min.js"></script>
		<script src="assets/Chart.js/Chart.bundle.min.js"></script>
		<script src="assets/Chart.js/Chart.bundle.js"></script>
		<script src="assets/Chart.js/Chart.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Bills</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Preferencias de Usuario</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h3>Navbar With Dropdown</h3>
  <p>This example adds a dropdown menu for the "Page 1" button in the navigation bar.</p>
</div>

</body>
</html>
